secrets.yaml
custom_components/**
custom_components/
www/community/**
www/community/
appdaemon/**
appdaemon/
.HA_VERSION
.shopping_list.json
.storage/**
.storage/
core
home-assistant.log
home-assistant_v2.db
